:javascript
  window.onload = function(){
    (function(){
      var scrollToElement = function(el) {
        $('html,body').animate({scrollTop: $(el).offset().top}, 600);
      };

      var debug = function(el){
        return function(msg){ console.log(msg); }
      }(document.getElementById('debug'));
      var show = function(el){
        return function(msg) {
          var li = document.createElement("li");
          li.classList.add('list-group-item');
          li.innerHTML = msg;
          el.appendChild(li);
          scrollToElement(li);
        }
      }(document.getElementById('logs'));

      var scheme   = window.location.protocol == 'http:' ? 'ws' : 'wss';
      var ws       = new WebSocket(scheme + '://' + window.location.host + '/logs');
      ws.onopen    = function()  { debug('websocket opened'); };
      ws.onclose   = function()  { debug('websocket closed'); }
      ws.onmessage = function(m) { debug('received: ' + m.data); show(m.data); };
    })();
  }
